# Eclipse
.classpath
.project
.settings/

# Maven
target/
*.ser
*.ec
.mvn/timing.properties
.mvn/extensions.xml
.mvn/maven.config
dependency-reduced-pom.xml

# Intellij
*.ipr
*.iml
*.iws
.idea/

# VS Code
.vscode/

# OrientDB
.orientdb_history

# Other
.DS_Store
.clover
*.log
/*.rc
atlassian-ide-plugin.xml
out
rebel.xml
*~

# Fortify
/fortifyRepository

# Gradle
.gradle/
.shelf/
build/
out/
dist/
bin/

# Sonatype Lifecycle IDE integration
.sonatype
