<?xml version="1.0" encoding="utf-8" ?>
<plugin xmlns="xmlns://www.fortify.com/schema/pluginmanifest-1.0.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="PluginDescriptor"
        id="com.example.parser" api-version="1.0">
    <plugin-info>
        <name>Sonatype Vunerabilty Parser</name>
        <version><!--VERSION-->0.0<!--/VERSION--></version>
        <data-version>1</data-version>
        <vendor name="Sonatype vendor" url="https://sonatype-parser-plugin.example.com/"/>
        <description>Sonatype scan result parser</description>
        <resources>
            <localization>
                <language id="default" location="/resources/sonatype_en.properties"/>
                <language id="cs" location="/resources/sonatype_cs.properties"/>
                <language id="en" location="/resources/sonatype_en.properties"/>
                <language id="ru" location="/resources/sonatype_ru.properties"/>
            </localization>
            <images>
                <image imageType="icon" location="/images/sonatype-icon.png"/>
                <image imageType="logo" location="/images/sample-logo.png"/>
            </images>
        </resources>
    </plugin-info>
    <issue-parser xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <engine-type>SONATYPE</engine-type>
        <supported-engine-versions>[2.2, 4.3]</supported-engine-versions>
        <view-template location="/viewtemplate/SonatypeTemplate.json">
            <description>Sonatype sample vulnerability view template.</description>
        </view-template>
    </issue-parser>
</plugin>

